<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddPersonServlet</servlet-name>
        <servlet-class>za.ac.tut.servlet.AddPersonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPersonServlet</servlet-name>
        <servlet-class>za.ac.tut.servlet.EditPersonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPersonServlet</servlet-name>
        <servlet-class>za.ac.tut.servlet.SearchPersonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GPLServlet</servlet-name>
        <servlet-class>za.ac.tut.servlet.GPLServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetListSizeServlet</servlet-name>
        <servlet-class>za.ac.tut.servlet.GetListSizeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetListServlet</servlet-name>
        <servlet-class>za.ac.tut.servlet.GetListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemovePersonServlet</servlet-name>
        <servlet-class>za.ac.tut.servlet.RemovePersonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddPersonServlet</servlet-name>
        <url-pattern>/AddPersonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPersonServlet</servlet-name>
        <url-pattern>/EditPersonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPersonServlet</servlet-name>
        <url-pattern>/SearchPersonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GPLServlet</servlet-name>
        <url-pattern>/GPLServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetListSizeServlet</servlet-name>
        <url-pattern>/GetListSizeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetListServlet</servlet-name>
        <url-pattern>/GetListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemovePersonServlet</servlet-name>
        <url-pattern>/RemovePersonServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
